body{
    background-color: rgba(0,0,0 ,0.8);
}

.homeAbout{
    height:40vh;
 
    display:flex ;
    flex-direction: column;
    flex-wrap: wrap;
    
    justify-content: flex-end;
    
    @include background(DarkGray);
    .about{
       
        
     align-self: center;
     text-align: center;
            .developer{
                
                color:red;

            }
            p{
                color:white;
                font-weight: fontweight(bold);
            }
 


    
}

    
margin-bottom: 0.5rem;
}

.card{
    display: flex;
   flex-flow: column;
    justify-content: center;
    align-items: center;
    .timeline{
      color:white;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 40px;
    }
    .about{
        border-bottom:  4px solid chocolate;
    }


.langCard{


   
    text-align: center;
   // height: 30vh;
    width:80vw;
    background:rgba(0,0,0 ,0.5);
    color:white;
    box-shadow: 1px 1px 1px #aaaaaa;

    .languages{
        color:chocolate;

    
    } 
    .techstack{
        list-style: none;
   }
    
    margin-bottom: 1rem;
}

.internCard{
   
    text-align: center;
    // height: 30vh;
     width:80vw;
     background:rgba(0,0,0 ,0.5);
     color:white;
     box-shadow: 1px 1px 1px #aaaaaa;

     .company{
         color:chocolate;
     }
}



    }
    .about-copyright{
        font-size: 20px;
        color:white;
        position:fixed;
        bottom:70px;
        left:-56px;
        transform: rotate(-90deg);
    }
    footer{


        display: flex;
        flex-flow:column;
        right:0px;
        position: fixed;
        bottom: 130px;
        width: 50px;
        height: 50px;
        background: transparent;
        font-size: 40px;
        color: white;
        .fab{
            margin-bottom:2px;
            cursor: pointer;
    
          &:hover{
            
              color:chocolate;
          }
        }
  }