@mixin background( $theme: DarkGray){
    background-image: url('../media/programming.jpg');
  //  box-shadow: 0 0 1px rgba($theme, 1);
    background-position: center;
    background-size: cover;
}
@mixin calc( $theme: DarkGray){
  background-image: url('../media/calculator.jpg');
//  box-shadow: 0 0 1px rgba($theme, 1);
  background-position: center;
  background-size: cover;
}

@mixin clock($theme: DarkGray){
  background-image: url('../media/clock.jpg');
//  box-shadow: 0 0 1px rgba($theme, 1);
  background-position: center;
  background-size: cover;
}

@mixin game( $theme: DarkGray){
  background-image: url('../media/game.jpg');
//  box-shadow: 0 0 1px rgba($theme, 1);
  background-position: center;
  background-size: cover;
}

@mixin crud( $theme: DarkGray){
  background: $theme;
//  box-shadow: 0 0 1px rgba($theme, 1);
  background-position: center;
  
}

@mixin ecommerce( $theme: DarkGray){
  background: $theme;
//  box-shadow: 0 0 1px rgba($theme, 1);
  background-position: center;
 
}
