


@mixin name{
    // font-family: 'Ubuntu', sans-serif;
    font-weight: fontweight(medium);
    color:white;
    font-size: 60px;
   // position:relative;
    z-index: 2;
    align-self: center;
    
   // top: 17rem;
   // left:25rem;
}

@mixin hamburger{
    height:1px;
    width:15px;
    background-color:white;
    position: relative;
}

@mixin closeButton{
    background-color: white;
    z-index:4;
    position:absolute;
    width:10px;
    height:1px;
}